* {
	background-color: #0f0f0f;
	color: white;
	user-select: none;
	margin: 0;
}

body {
	width: 350px;
	margin: 0px 10px 13px 10px;

	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

body::-webkit-scrollbar {
	display: none;
}

.search {
	position: sticky;
	top: 0px;
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: #0f0f0f;
}

input {
	width: 330px;
	height: 30px;
	padding-left: 10px;
	background-color: #292929;
	border: 0;
	font-size: 16px;
	font-weight: bold;
}

input:focus {
	outline: none;
}

.list {
	margin: 0px 15px 0px 15px;
}

img {
	width: 20px;
	height: 20px;
}

#item {
	display: flex;
	flex-direction: row;
	gap: 15px;
	margin-bottom: 10px;

	white-space: pre-wrap;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

body a, #nobookmark {
	font-size: 16px;
	font-weight: bold;
}

.list a {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}
